<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blog</title>
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>

  <body>
    <!-- header section -->
    <div id="menu-bar" class="fas fa-bars"></div>
    <header>
      <a href="#" class="logo-navbar"
        ><img src="logo2.png" alt="Loading.."
      /></a>
      <nav class="navbar">
        <a href="/landingpage">home</a>
        <a href="/landingpage#book">book</a>
        <a href="/landingpage#packages">packages</a>
        <!-- <a href="#services">services</a> -->
        <!-- <a href="#review">review</a> -->
        <a href="/landingpage#contact">Services</a>
        <a href="/blog">Blog</a>
        <a href="/aboutus">About Us</a>
      </nav>

      <div class="icons">
        <i class="fa fa-user" id="login-btn"><a href="/login">Logout</a></i>
      </div>
      I
    </header>
    <br /><br /><br /><br /><br /><br /><br /><br />
    <section id="blog">
      <!-- heading -->
      <h1 class="heading">
        <span>o</span>
        <span>u</span>
        <span>r</span>
        <span class="space"></span>
        <span>b</span>
        <span>l</span>
        <span>o</span>
        <span>g</span>
      </h1>
      <!-- container -->
      <div class="blog-container">
        <!-- box1 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog1.jpg" alt="blog1_img" /><a
              href="https://www.myyatradiary.com/2023/07/must-visit-5-ancient-shiva-temples-Goa.html"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Temples..Goa</strong>
            <a
              href="https://www.myyatradiary.com/2023/07/must-visit-5-ancient-shiva-temples-Goa.html"
            >
              Must Visit: 5 Ancient Shiva Temples in Goa</a
            >
          </div>
        </div>
        <!-- box2 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog2.jpg" alt="blog2_img" /><a
              href="https://theworldtravelguy.com/paisu-pok-lake-banggai/"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Asia..Banggai</strong>
            <a href="https://theworldtravelguy.com/paisu-pok-lake-banggai/"
              >Paisu Pok Lake In Banggai</a
            >
          </div>
        </div>
        <!-- box3 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog3.jpg" alt="blog1_img" /><a
              href="https://www.myyatradiary.com/2023/03/konkan-maharashtra-luxury-resort-sadhana-executive-dapoli.html"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Resorts..Konkan</strong>
            <a
              href="https://www.myyatradiary.com/2023/03/konkan-maharashtra-luxury-resort-sadhana-executive-dapoli.html"
              >Konkan Maharashtra: Best Luxury Resort in Dapoli - Hotel Sadhana
              Executive</a
            >
          </div>
        </div>
        <!-- box4 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog4.jpg" alt="blog4_img" /><a
              href="https://indiasomeday.com/en/four-travel-routes-for-kerala/"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Travel..Kerala</strong>
            <a href="https://indiasomeday.com/en/four-travel-routes-for-kerala/"
              >FOUR TRAVEL ROUTES FOR KERALA</a
            >
          </div>
        </div>
        <!-- box5 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog5.jpeg" alt="blog1_img" /><a
              href="https://desitraveler.com/aahana-corbet-resort-review/"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Wildlife..Uttarakhand</strong>
            <a href="https://desitraveler.com/aahana-corbet-resort-review/"
              >Aahana Resort – Jim Corbett National Park Uttarakhand</a
            >
          </div>
        </div>
        <!-- box6 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog6.jpg" alt="blog1_img" /><a
              href="https://breathedreamgo.com/best-places-to-visit-in-india/"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Visit..India</strong>
            <a href="ttps://breathedreamgo.com/best-places-to-visit-in-india/"
              >24 best places to visit in India</a
            >
          </div>
        </div>
        <!-- box6 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog7.jpg" alt="blog1_img" /><a
              href="#"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Food..India</strong>
            <a href="https://breathedreamgo.com/20-famous-indian-foods-recipes/"
              >20 Famous Indian foods</a
            >
          </div>
        </div>
        <!-- box6 -->
        <div class="blog-box">
          <div class="blog-img">
            <img src="blog8.jpg" alt="blog1_img" /><a
              href="https://breathedreamgo.com/what-to-wear-travel-india/"
              class="blog-img-link"
            >
              <i class="fas fa-arrow-up-right-from-square"></i
            ></a>
          </div>
          <div class="blog-text">
            <strong>Travel..India</strong>
            <a href="https://breathedreamgo.com/what-to-wear-travel-india/"
              >What to wear when travelling in India</a
            >
          </div>
        </div>
      </div>
    </section>
    <div class="footer">
      <div class="footer-section">
        <div class="logo">
          <img src="logo2.png" alt="Loading.." style="border-radius: 20px" />
          <p>Your Ultimate Itinerary Creator</p>
        </div>
      </div>
      <div class="footer-section">
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="contactus.ejs">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Community</h3>
        <ul>
          <li><a href="#">Forums</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Events</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Partners</h3>
        <ul>
          <li><a href="#">Partner 1</a></li>
          <li><a href="#">Partner 2</a></li>
          <li><a href="#">Partner 3</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <p>
          Discover, plan, and explore with Unravel Travel. Whether you're
          looking for a serene getaway or an adventurous journey, we've got you
          covered. With our intuitive itinerary creator, crafting your dream
          trip has never been easier.
        </p>
      </div>
    </div>
  </body>
</html>
